.yrthen-table {
    display: inline-block;
}

.yrthen-icon {
  width: 40px;
}

.yrthen-header {
  text-align: center;
}
.yrthen-day {
  padding-left: 0;
  padding-right: 5px;
}

.yrthen-forecast-cell {
  padding-left: 10px;
  text-align: center;
}
.yrthen-icon-cell {
  padding-left: 10px;
  text-align: center;
}

.yrthen-temp {
  padding-left: 10px;
  padding-right: 0;
}

.yrthen-prec {
  padding-left: 10px;
  padding-right: 0;
}

.yrthen-wind {
  padding-left: 10px;
  padding-right: 0;
  line-height: 0.9rem;
}

.yrthen-wind-det {
  line-height: 1rem;
}

.yrthen-timecell {
  text-align: center;
}

.yrthen-xxsmall {
  font-size: 12px;
}